{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
</head>
<body>
    
<form action="{% url 'set_language' %}" method="post" class="language">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language" onchange="change()">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>       
        {% endfor %}
    </select>
    <button class="change-language" type="submit" style="display: none;"></button>
</form>
    <h1>{% trans "Bahor" %}</h1>
    <h1>{% trans "Salom" %}</h1>

    <script>
        let form = document.querySelector('.language')
        let btn = document.querySelector('.change-language')
        function change(){
            btn.click()
        }
    </script>
</body>
</html>